.width100{
width: 100%
}
.mytext{
width: 94%; height:99px;resize: none;	
}
.notMarkedIssues{
font-weight:bold
}
.markedIssues{
background:${issue.marker}
}
.srcimg{
width: 86%
}
.greenbut
{
background:green;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px
}

.yellowbut
{
background:yellow;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px
}

.redbut
{
background:red;
-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px
}